code,
pre {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre::-moz-selection, pre ::-moz-selection,
code::-moz-selection, code ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre::selection, pre ::selection,
code::selection, code ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code,
	pre {
		text-shadow: none;
	}
}

/* Code blocks */
pre {
	padding: 1em;
	overflow: auto;
}

pre {
    margin-right: 10px;
}

:not(pre) > code,
pre {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

#searchbar {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    border: 1px solid black;
    outline: 0px;
}

.all {
    height: 85px;
    margin: 5px;
    width: 98%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    box-shadow: none;
}

button.highlight:focus {
    outline: none;
}

button.highlight:hover {
    opacity: .8;
}

#Motion {
    background-color: #4875D1;
}

#Looks {
    background-color: #7F68D5;
}

#Sound {
    background-color: #AD5FC2;
}

#Pen {
    background-color: #44936B;
}

#Data {
    background-color: #E28433;
}

#Events {
    background-color: #C1853D;
}

#Control {
    background-color: #DBA834;
}

#Sensing {
    background-color: #49A6DF;
}

#Operations {
    background-color: #75AE1C;
}

#More {
    background-color: #5A4097;
}

#Projects {background-color: #E04D4D}
#Creating {background-color: #A3A3A3}
#Github {background-color: #7775D3}

#Tutorial {background-color: #5AA7DC}

#Jsbin {background-color: #534B95}
.list {
    font-family: "Open Sans", "Lato", Arial;
    font-size: 100%;
    line-height: 1.5;
    margin-top: 15px;
    display:block;
    max-width: 100%;
    margin-left: 5px;
}

/*#startlist{width:50%;}*/

pre.language-javascript{min-width:90%;
    white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;   
}

pre {min-width:90%;
    white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;   
}

#Type:hover{opacity:.8;
    cursor: pointer;
}

/*#all {width:100%;}*/

/* Woof Tutorial CSS */

h4 {
      text-align: center;
}
#instructions {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.step {
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 15px;
  background-color: white;
  border:1px solid gray;
  border-radius:5px;
  
}

#typelist pre { background-color: #F3F3F3;
padding:10px;
 font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
 font-size:80%;
}

@media all and (max-width: 900px) {
    button {
       margin:1.5% ;
       width: 45%;
    height: 13%;
    }
}


#Image {background-color: #49A6DF;
  
}
#Text {background-color: #4875D1;
}
#Circle {background-color: #AD5FC2;
    
}
#Rectangle {background-color: #7775D3;
     
}
#Line{background-color:#5A4097;
   
}

#Image, #Text, #Circle, #Rectangle, #Line {  height:10%;
    width:33%;
    border-radius:10px;}
    
    #postimage{
        background-color: #7775D3;
        height:10%;
    width:80%;
    border-radius:10px;}
    
#searchclear {
    position: absolute;
    left: 75%;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: rgba(255, 45, 45, 0.75);
}

.btn-clipboard {
    position: absolute;
    right: 10;
    z-index: 10;
    display: block;
    padding: 5px 8px;
    font-size: 12px;
    color: #767676;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #e1e1e8;
    border-radius: 0 4px 0 4px;
}

.btn-clipboard:hover {
    color: #fff;
    background-color: #563d7c;
    border-color: #563d7c;
}

.project-image {
    width: 200px;
    height: 170px;
    border-radius: 10px;
}

.project-block {
    margin: 10px;
}

.project-block > a:hover {
    text-decoration: none;
    cursor: pointer;
}