# Ignore Mac DS_Store files
.DS_Store

# Ignore any sublime project files
*.sublime-project
*.sublime-workspace

# Ignore node_modules folder
node_modules

# Ignore any eslint config files
.eslintrc.json
